body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Mono', monospace;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248);
  display: flex;
}

//p {
//  overflow: overlay;
//  position: relative;
//}

// paths

.line-object-hitbox {
  stroke-opacity: 0;
  stroke: black;
  stroke-width: 15px;
  cursor: pointer;
}


//
.overclockFont {
  font-family: 'Kreon', serif;
  shape-rendering: crispEdges;
}

.overclockedArcClass {
  shape-rendering: geometricPrecision;
}

.graphMachineNode {
  fill: #ffc246;
  stroke: #ff3d00;
  stroke-width: 1px;
}

.graphNodeHoverClass {
  cursor: pointer
}

.graphNodeHoverClass .graphMachineNode {
  fill: #ff9100;
}

.selected-node .graphMachineNode {
  fill: #c56200;
}

.graphNodeGrabbedClass {
  cursor: grabbing !important;
}

.line-object {
  stroke-width: 2px;
}

.line-object.hidden {
  stroke-width: 0px;
}

//
//.graphMachineNode circle{
//  fill: #E65100;
//}
//
//.graphMachineNode:hover circle{
//  fill: #E65100;
//}


#toolbox {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
  z-index: 5;
}

#toolbox input {
  width: 30px;
  opacity: 0.4;
}

#toolbox input:hover {
  opacity: 1;
  cursor: pointer;
}

//#hidden-file-upload{
//  display: none;
//}
//
//#download-input{
//  margin: 0 0.5em;
//}

.conceptG text {
  pointer-events: none;
}

// Not needed?
//marker{
//  fill: #333;
//}

g.conceptG circle {
  fill: #FFE0B2;
  stroke: #FFCC80;
  stroke-width: 1px;
}

//g.conceptG:hover circle {
//  fill: #FF9800;
//}
//
//g.selected circle{
//  fill: #E65100;
//}
//
//g.selected:hover circle{
//  fill: #E65100;
//}


g.connect-node circle {
  fill: #BEFFFF;
}

div.full-div {
  display: flex;
  flex: 1;
}

#main {
  display: block;  /* new */
}

.path-tooltip-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg#mainRender {
  height: 100%;
  width: 100%;
  background-color: #E0E0E0;
}

.hiddenGraphElement {
  display: none;
}

.lead {
  margin: 0px;
}

.dev-icon {
  border-radius: 50%;
}

tspan.node-label {
  color: white;
}

//=======
// new css

// Path end arrow
.path-end-arrow:hover {
  fill: #4CAF50;
}

.path-end-arrow.selected {
  fill: #039BE5;
}

.path-end-arrow {
  fill: #4CAF50;
}

// Path Link properties
//path.link {
//  fill: none;
//  stroke: #4CAF50;
//  stroke-width: 6px;
//  cursor: default;
//}
//path.link:hover{
//  stroke: #81C784;
//}
//path.link.selected {
//  stroke: #039BE5;
//}
//path.hidden-hitbox{
//  stroke-width: 12;
//  stroke-opacity: 0;
//}
//
////Draggable link properties
//path.link.hidden{
//  stroke-width: 0;
//}
//
//
//.link {
//  stroke: #000;
//  stroke-width: 1.5px;
//}
//
//.node {
//  cursor: move;
//  fill: #ccc;
//  stroke: #000;
//  stroke-width: 1.5px;
//}
//
//.node.fixed {
//  fill: #f00;
//}