body{
  margin: 0;
  padding: 0;
  overflow:hidden;
  height: 100vh;
  width: 100vw;
}

p{
  overflow: overlay;
  position: relative;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248);
  display: flex;
}

#toolbox{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
  z-index: 5;
}

#toolbox input{
  width: 30px;
  opacity: 0.4;
}
#toolbox input:hover{
  opacity: 1;
  cursor: pointer;
}

#hidden-file-upload{
  display: none;
}

#download-input{
  margin: 0 0.5em;
}

.conceptG text{
  pointer-events: none;
}

marker{
  fill: #333;
}

g.conceptG circle{
  fill: #FFE0B2;
  stroke: #FFCC80;
  stroke-width: 1px;
}

g.conceptG:hover circle {
  fill: #FF9800;
}

g.selected circle{
  fill: #E65100;
}

g.selected:hover circle{
  fill: #E65100;
}

path.link {
  fill: none;
  stroke: #4CAF50;
  stroke-width: 6px;
  cursor: default;
}

#end-arrow:hover {
  fill: #4CAF50;
}

#end-arrow.selected {
  fill: #039BE5;
}

#end-arrow {
  fill: #4CAF50;
}

path.link:hover{
  stroke: #81C784;
}

path.link.selected {
  stroke: #388E3C;
}

g.connect-node circle{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}



path.hidden-hitbox{
  stroke-width: 12;
  stroke-opacity: 0;
}

div.full-div {
  display: flex;
  flex: 1;
}

div.tooltip {

}

#mainRender {
  flex: 1;
}

path.link.selected {
  stroke: #039BE5;
}

path.hidden-hitbox{
  stroke-width: 12;
  stroke-opacity: 0;
}

path.tooltip {
  stroke: #A5D6A7;
}

.path-tooltip-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg#mainRender {
  height: 100%;
  width: 100%;
  background-color:#dddddd;
}

.lead {
  margin: 0px;
}

.dev-icon {
  border-radius: 50%;
}

tspan.node-label {
  color: white;
}